# Unity isi folder temporary dan hasil build
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Vv]ersionControl/
/[Uu]ser[Ss]ettings/
/[Mm]emory[Cc]aptures/
/[AsmdefCache]/

# File solusi buatan IDE (Visual Studio / Rider)
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Folder buatan IDE
.vs/
.gradle/
.idea/
.rider/

# OS junk files
.DS_Store
Thumbs.db